ul {
    border: 10px solid #aae5e7;
    /* 記述した順に[上][左右][下]の設定ができる */
    padding: 1em 1em 0;
    list-style: none;

    li {
        border-bottom: 4px dotted #6baeb3;
        margin-bottom: 1em;

        &::before {
            /* 画像を挿入 */
            content: url(../start/img/check.png);
            margin-right: 4px;
            /* 行に対して垂直方向に中央揃え */
            vertical-align: middle;
        }
    }
}

ol {
    border: 10px solid #ffc43d;
    /* 記述した順に[上][左右][下]の設定ができる */
    padding: 20px 40px 20px;

    li {
        padding-bottom: 20px;
        margin-bottom: 20px;
        /* 下矢印の画像 */
        background: url(../start/img/arrow.png) left 16px bottom 0 no-repeat;


        &:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            /* transparent：透明 */
            background: transparent;
        }
    }
}