@charset "UTF-8";
body {
  color: #222;
  font-family: 'Noto Sans JP', 'Open Sans', sans-serif;
  line-height: 1.5;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.content {
  margin: 0 auto;
  padding: 60px 15px;
}

.content.content__gb-blue {
  background-color: #85a7cc;
}

.content > *:last-child {
  margin-bottom: 0;
}

.header__inner {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 200;
}

.header-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__item {
  text-align: center;
}

.header-nav__link {
  width: 120px;
  display: block;
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.header-nav__link > .header-nav__link-kana {
  font-size: .75rem;
  display: block;
  font-weight: normal;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-wrapper {
  width: 250px;
}

.jumbotron {
  height: 600px;
  background-size: cover;
  background-position: center center;
}

.jumbotron__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  height: 100%;
}

.jumbotron__title-wrapper {
  margin-top: 60px;
  margin-bottom: 20px;
}

.jumbotron__title {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-shadow: 0px 0px 3px #333;
}

.jumbotron__btn-wrapper {
  display: block;
}

.jumbotron__btn {
  display: inline-block;
  max-width: 100%;
  padding: 16px 35px;
  background-color: #6699ff;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .25s;
  transition: .25s;
}

.slide-bg {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.slide-bg span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: -1;
}

.slide-bg:hover {
  color: #6699ff;
}

.slide-bg:hover span {
  -webkit-transform: none;
          transform: none;
}

.info__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.info__body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}

.info__title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.2em;
  text-align: center;
  margin-bottom: 1em;
}

.info__text {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .content {
    padding-right: 15px;
    padding-left: 15px;
  }
  .info__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    /* 縦並び逆順 */
    gap: 20px;
    /* 余白 */
  }
  .info__body {
    margin-left: 0;
  }
}

.service__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.level2-heading {
  position: relative;
  margin-bottom: 20px;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.level2-heading::before {
  content: '';
  width: 40px;
  height: 40px;
  background-color: #a5d1ff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  z-index: -1;
}

.level3-heading {
  margin-bottom: 20px;
  font-size: .9rem;
  text-align: center;
  letter-spacing: 0.2em;
  color: #85a7cc;
  font-weight: bold;
}

.content__text {
  margin-bottom: 20px;
  text-align: center;
}

.service__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service__content-body {
  padding: 20px 20px 0;
  text-align: center;
  margin: 5px;
  border: 3px solid #527acc;
  border-radius: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.service__content-image {
  width: 120px;
  margin-bottom: 20px;
}

.level4-heading {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.service__content-text {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */